 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 html {
    background-color: rgb(255, 251, 243);
 }

 .hide {
     display: none;
 }
 footer {
    margin: 2em;
    margin-top: 6em;
   
 }

 #list {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     gap: 30px;
     margin-left: 20%;
     margin-right: 20%;
 }

 #filterbuttons {
     gap: 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

 }

button:hover {
border-color: black;
    background-color: rgba(75, 9, 9, 0.870);
    cursor: pointer;
    color: antiquewhite;

 }

 p,
 h2 {
     font-family: nitti-typewriter-normal, sans-serif;
     font-weight: 400;
     font-style: normal;

 }


 select {
     display: flex;
     padding: 20px;
     margin: 20px;
     border: 2px solid black;
     border-radius: 10px;
     background-color: antiquewhite;
     box-shadow: 4px 4px 4px;
     font-family: carta-marina, sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 select:hover {
border-color: black;
    background-color: rgba(75, 9, 9, 0.870);
    cursor: pointer;
    color: antiquewhite;
 }

 #searchfield {
     display: flex;

     justify-content: center;
     margin: 10px;

 }

 .search {
     border: 2px solid black;
     border-radius: 10px;
     background-color: antiquewhite;
     padding: 5px;
     box-shadow: 4px 4px 4px;
     font-family: carta-marina, sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 .search:hover{
border-color: black;
    background-color: rgba(75, 9, 9, 0.870);
    cursor: pointer;
    color: antiquewhite;
 }



 .numberp {
     display: flex;
     justify-content: center;
     margin: 20px;


 }

 .sorter {
     display: flex;
     justify-content: center;

 }

 #filter_wrapper {
     margin: 30px;

 }

 h1 {
    text-align: center;
     justify-content: center;
     display: flex;
     font-family: romana-tw, serif;
     font-weight: 400;
     font-style: normal;
     font-size: 1.8em;
    margin: 40px;

 }

 h1:hover {
    cursor: pointer;
 }



 li {
     border: 1px solid black;
     border-radius: 10px;
     list-style: none;
     padding: 20px;

     box-shadow: 4px 4px 4px;

 }

 li:hover{
    border-color:black;
        background-color: rgba(75, 9, 9, 0.870);
        cursor: pointer;
        color: antiquewhite;
 }

 button {
     border: 2px solid black;
     padding: 7px;
     border-radius: 10px;
     background-color: antiquewhite;
     /* width: 100%; */
     width: 30%;
     min-width: 100px;
     max-width: 120px;
     box-shadow: 4px 4px 4px;
     font-family: carta-marina, sans-serif;
     font-weight: 400;
     font-style: normal;
 }

 #popup {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     height: 100vh;
     width: 100vw;
     background-color: rgba(75, 9, 9, 0.870);
     z-index: 100;
   
 }

 aside article {
     background-color: antiquewhite;
     width: 67%;
     
     height: 90%;
     margin: 4em auto;
     border-radius: 3px;
     text-align: center;
border: 2px solid black;

    border-radius: 20px;
 }

 .house_colors {
    border-radius: 10px;
 }
 #luk {
     text-align: end;
     padding: 20px;
 }

 #luk:hover {
     cursor: pointer;
 }

 #popup_buttons {
    margin: 20px;

 }

 #prefectbutton, #squadbutton, #expelledbutton {
    margin: 10px;

 }

 /*********ONLY TWO PREFECTS DIALOGBOX START*****************/


 .hide {
     visibility: hidden;
 }

 .modal {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
background-color: rgba(75, 9, 9, 0.870);
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .dialog {
     box-shadow: 1px 1px 10px solid black;
     border-radius: 12px;
     padding: 2em;
    background-color: white;
     position: relative;
 }

 button.close {
     position: absolute;
     right: 0;
     top: 0;
     margin: 1em;
     background-color: none;

 }

 .dialog h1 {
     margin-top: 0;
 }


#removea, #removeb {
    margin: 20px;
}

li {
    background-color: antiquewhite;
}

@media (min-width: 600px) {
h1 {
        text-align: center;
        justify-content: center;
        display: flex;
        font-family: romana-tw, serif;
        font-weight: 400;
        font-style: normal;
        font-size: 2.5em;
        margin-bottom: 60px;
        margin-top: 20px;

    }

}
  
@media (min-width: 800px) {

aside article {
        max-width: 50%;
        max-height: 87%;
    }

        h1 {
            text-align: center;
            justify-content: center;
            display: flex;
            font-family: romana-tw, serif;
            font-weight: 400;
            font-style: normal;
            font-size: 3em;
            margin-bottom: 60px;
            margin-top: 20px;
    
        }


  }